{% extends "base_templates/_base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/style.css">
{% endblock %}
{% block header %}
<header>
    <div class="container">
    <nav>
           <a href="https://blackpythondevs.com/" class="logo">
                     Black Python Dev
                </a>

                <button class="menu-toggle" id="menu-toggle" aria-label="Toggle Navigation">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
        <ul class="nav-links" id="nav-links">
    {% for link in NAVIGATION %}
     <li><a href="{{ link.url }}">{{ link.name }}</a></li>
    {% endfor %}
    <li><a href="#" class="btn-primary" style="color: #ffffff;">Apply Now</a></li>
    </ul>
    </nav>
</div>
</header>

<script> document.addEventListener("DOMContentLoaded", () => {
        const toggleBtn = document.getElementById("menu-toggle");
        const navLinks = document.getElementById("nav-links");

        toggleBtn.addEventListener("click", () => {
            navLinks.classList.toggle("active")
            toggleBtn.classList.toggle("active")
        });
    });</script>
{% endblock %}
{% block footer %}
<footer class="container">
    <hr />
    <p><a href="{{SITE_URL}}">{{SITE_URL}}</a></p>
    <p>Built with <a href="https://github.com/render-engine/render-engine/">Render Engine</a></p>
</footer>
{% endblock %}